# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ignore build everywhere EXCEPT arcium/disc_mpc
**/build/*
!arcium/disc_mpc/build/
!arcium/disc_mpc/build/**

# artifacts
artifacts/
!arcium/disc_mpc/artifacts/
!arcium/disc_mpc/artifacts/**

# arcium / anchor deploy outputs
arcium/disc_mpc/target/deploy/*
!arcium/disc_mpc/target/deploy/disc_mpc-keypair.json

# solana wallets
.config/solana/id.json
**/id.json